*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
   padding: 30px;
   border: 1px solid black;
    margin: 15px;
}
.header h1{
    position: absolute;
    left: 40%;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    margin: 15px;
    line-height: 30px
}
.container table, tr, td{
    border: 1px solid black;
}
.container #text{
    font-weight: bold;

  
}